lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency management
.yarn
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore Typescript build output
dist

# Ignore documentation build output
docbuild

# ignore yarn.lock
yarn.lock

# IDE
.vscode
!.vscode/launch.json
!.vscode/tasks.json

# Ignore any local docsets or docs used for testing
data/aws-cloudformation.docset
data/remote